@using Application.Shared.Services
@inject HttpClient _httpClient
@inject NavigationManager _navigationManager
@inject IToastService _toastService
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))


<EditForm Model="@DatabaseCredential" OnValidSubmit="@HandleValidSubmit" FormName="fluent_entry" novalidate>
    <DataAnnotationsValidator />
    <FluentValidationSummary />


    <FluentStack Orientation="Orientation.Vertical">
        <div>
            <FluentTextField Name="IP Address" @bind-Value="DatabaseCredential.IpAddress" Disabled="@(Action == "edit" ? true : Disabled)" style="width: 100%;" Label="IP Address" Required />
            <FluentValidationMessage For="@(() => DatabaseCredential.IpAddress)" />
        </div>

        <div>
            <FluentTextField Name="Database Name" @bind-Value="DatabaseCredential.DatabaseName" Disabled="@(Action == "edit" ? true : Disabled)" style="width: 100%;" Label="Database Name" Required />
            <FluentValidationMessage For="@(() => DatabaseCredential.DatabaseName)" />
        </div>

        <div>
            <FluentTextField Name="Username" @bind-Value="DatabaseCredential.Username" Disabled="@(Action == "edit" ? true : Disabled)" style="width: 100%;" Label="Username" Required />
            <FluentValidationMessage For="@(() => DatabaseCredential.Username)" />
        </div>

        <div>
            <FluentTextField Name="Password" @bind-Value="DatabaseCredential.Password" Disabled="@(Disabled)" style="width: 100%;" Label="Password" Required />
            <FluentValidationMessage For="@(() => DatabaseCredential.Password)" />
        </div>

        <FluentButton Type="ButtonType.Submit" Appearance="Appearance.Accent">Submit</FluentButton>
    </FluentStack>
</EditForm>


@code {

    [Parameter] public string Action { get; set; }

    [Parameter] public DatabaseCredential DatabaseCredential { get; set; } = new DatabaseCredential();

    public bool Disabled => (Action == "add" || Action == "edit") ? false : true;

    

    public int BlockQuantity { get; set; }



    private async void HandleValidSubmit()
    {

        HttpResponseMessage response = new HttpResponseMessage();

        if (Action == "add")
        {
            response = await _httpClient.PostAsJsonAsync("api/databaseCredentials", DatabaseCredential);
        }
        else if (Action == "edit")
        {
            response = await _httpClient.PutAsJsonAsync($"api/databaseCredentials/{DatabaseCredential.IpAddress}/{DatabaseCredential.DatabaseName}/{DatabaseCredential.Username}", DatabaseCredential);
        }


        if (response.IsSuccessStatusCode)
        {
            _toastService.ShowSuccess("A new databaseCredential was created");

            // soft delay so that the user can read the message
            await Task.Delay(1000);

            _navigationManager.NavigateTo("data/credentials/list",forceLoad: true);
            
        }
        else
        {
            _toastService.ShowError("An error occurred while creating a new databaseCredential");
        }



    }








}