@page "/rt/sales"
@* @rendermode InteractiveWebAssembly *@
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender: false))
@using Application.Shared.Models.RealTime
@inject NavigationManager Navigation
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager Navigation
@inject IJSRuntime _jsRuntime
@inject HttpClient _client
@inject StateContainer _stateContainer
@implements IAsyncDisposable
@implements IDisposable
@attribute [Authorize]


<PageTitle>Real Time Sales</PageTitle>

<Toolbar Title="Real Time Sales" HasFilter="true" OnFilterClick="OpenFilterPanel" />

@if(ShowFilters)
{
    <div style="padding: 10px; margin-bottom: 25px;background-color: white;border-radius: 10px;">
        @if(StoreSchemes is not null)
        {
            <FluentSelect Label="Select Scheme" 
            Appearance="Appearance.Filled"
            TOption="string"
            Items="@StoreSchemes"
            Immediate="true"
            @bind-Value="@SelectedScheme"
            SelectedOptionChanged="FilterData"
            />
        }

    </div>
}


<FluentGrid Spacing="1" AdaptiveRendering="true" Justify="@JustifyContent.FlexStart" >
    <FluentGridItem xs="12" sm="4" >
        @if(LastUpdated is not null)
        {
            <KpiCard @ref="KpiCardRef" Id="amount" Title="Total Amount"/>
        }
    </FluentGridItem>

    <FluentGridItem xs="12" sm="4">
        @if (TotalTransactions > 0)
        {
            <KpiCard @ref="KpiTotalTransactionsRef" Id="transactions" Title="Total Transactions" />
        }
    </FluentGridItem>

    <FluentGridItem xs="12" sm="4">
        @if (TotalTransactions > 0)
        {
            <KpiCard @ref="KpiAverageBasketRef" Id="basket" Title="Average Basket" />
        }
    </FluentGridItem>
</FluentGrid>




<FluentGrid Spacing="1" AdaptiveRendering="true" Justify="@JustifyContent.FlexStart" >


    <FluentGridItem xs="12" sm="8" >

        <LineChart Title="Real Time Sales" />
    </FluentGridItem>

    <FluentGridItem xs="12" sm="4" style="overflow-x:auto; background-color: white; border-radius: 10px; padding:10px; margin-top:5px; margin-bottom:5px; min-height:575px;max-height: 575px;">
        <div class="table-label">Sales Data By Store</div>

        <FluentDataGrid @ref="grid" Items="@SalesLinesQuery" TGridItem="SalesLineRealTime">
            <PropertyColumn Title="Scheme" Property="@(c => c.Scheme)" InitialSortDirection=SortDirection.Descending Sortable="true">
                <ColumnOptions>
                    <div class="search-box">
                        <FluentSearch type="search" Autofocus=true @bind-Value=SelectedStore @oninput="HandleStoreFilter" @bind-Value:after="HandleClear" Placeholder="Store Name..." />
                    </div>
                </ColumnOptions>
            </PropertyColumn>

            <PropertyColumn Title="Store" Property="@(c => c.StoreCode)" InitialSortDirection=SortDirection.Descending Sortable="true" Filtered="!string.IsNullOrWhiteSpace(SelectedStore)">
                <ColumnOptions>
                    <div class="search-box">
                        <FluentSearch type="search" Autofocus=true @bind-Value=SelectedStore @oninput="HandleStoreFilter" @bind-Value:after="HandleClear" Placeholder="Store Name..." />
                    </div>
                </ColumnOptions>
            </PropertyColumn>

            <PropertyColumn Property="@(c => c.NetAmountAcy.ToString("##,##"))" Title="Sales" InitialSortDirection=SortDirection.Descending Sortable="true"  />

            <PropertyColumn Property="@(c => c.TotalTransactions.ToString("##,##"))" Title="Transactions" InitialSortDirection=SortDirection.Descending Sortable="true" />

            <PropertyColumn Property="@(c => (c.NetAmountAcy / c.TotalTransactions).ToString("##,##"))" Title="AVG Basket" InitialSortDirection=SortDirection.Descending Sortable="true" />


        </FluentDataGrid>
    </FluentGridItem>



</FluentGrid>



@code {
    private FluentDataGrid<SalesLineRealTime>? grid;
    private HubConnection? hubConnection;
    private List<List<SalesLineRealTime>> messages = new();
    private List<List<SalesLineRealTime>> FilteredData = new();


    private decimal TotalAmount { get; set; }
    private int TotalTransactions { get; set; }
    private decimal AverageBasket { get; set; }
    private DateTime? LastUpdated { get; set; }
    private IQueryable<SalesLineRealTime> SalesLinesQuery { get; set; } 
    private string[] ChartLabels { get; set; }
    private decimal[] ChartValues { get; set; }
    private List<SalesLineRealTime> salesLine;
    // private string[] Columns { get; set; } = new string[] { "StoreCode", "NetAmountAcy" };


    private bool ShowFilters { get; set; }

    private List<string> Stores = new List<string>();
    private List<string> StoreSchemes = new List<string>();


    private string SelectedScheme { get; set; }
    private string SelectedStore { get; set; }


    private KpiCard KpiCardRef;
    private KpiCard KpiTotalTransactionsRef;
    private KpiCard KpiAverageBasketRef;

    protected override async Task OnInitializedAsync()
    {

        var salesLinesTemp = await _client.GetFromJsonAsync<List<SalesLineRealTime>>("api/rt/sales/agg/store");
        salesLinesTemp = salesLinesTemp.Where(s => !String.IsNullOrEmpty(SelectedScheme) ? s.Scheme == SelectedScheme : true).ToList();


        SalesLinesQuery = salesLinesTemp.AsQueryable();

        FilteredData = new List<List<SalesLineRealTime>> { salesLinesTemp };


        // store scheme has an empty and from salesline
        StoreSchemes = salesLinesTemp.Select(s => s.Scheme).Distinct().ToList();
        // add empty string to the start of StoreSchemes
        StoreSchemes.Insert(0, String.Empty);





        hubConnection = new HubConnectionBuilder()
            .WithUrl(Navigation.ToAbsoluteUri("/datahub"))
            .Build();



        hubConnection.On<List<SalesLineRealTime>>("ReceiveData", async (salesLine) =>
        {

            Stores = salesLine.Select(s => s.StoreCode).Distinct().ToList();


            // store scheme has an empty and from salesline
            StoreSchemes = salesLine.Select(s => s.Scheme).Distinct().ToList();
            // add empty string to the start of StoreSchemes
            StoreSchemes.Insert(0, String.Empty);

            salesLine.OrderBy(s => s.NetAmountAcy);

            if (salesLine.Count > 0)
            {

                messages.Add(salesLine);

            }
            else
            {
                messages.Add(salesLinesTemp);
            }


            // get the last message from messages
            messages = messages.TakeLast(25).ToList();

            // FilteredData = messages;
            FilteredData = messages
            .Select(innerList => innerList
                .Where(sale => !String.IsNullOrEmpty(SelectedScheme) ? sale.Scheme == SelectedScheme : true)
                .ToList())
            .Where(innerList => innerList.Any())
            .ToList();

            // get the last from messages
            SalesLinesQuery = messages.LastOrDefault().AsQueryable();


            await grid.RefreshDataAsync();


            // ChartLabels = FilteredData.Select(d => d.First().DateTime?.ToString("HH:mm:ss")).ToArray(); //yyyy-MM-dd HH:mm
            // ChartValues = FilteredData.Select(d => d.Sum(x => x.NetAmountAcy)).ToArray();


            await UpdateChartAsync();
            await InvokeAsync(StateHasChanged);

        });



        await hubConnection.StartAsync();

    }



    public bool IsConnected =>
        hubConnection?.State == HubConnectionState.Connected;

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }

    public void Dispose()
    {
        _stateContainer.OnChange -= StateHasChanged;
    }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        // ChartLabels = FilteredData.Select(d => d.First().DateTime?.ToString("HH:mm:ss")).ToArray(); //yyyy-MM-dd HH:mm
        // ChartValues = FilteredData.Select(d => d.Sum(x => x.NetAmountAcy)).ToArray();

        if (firstRender)
        {
            FilteredData = new List<List<SalesLineRealTime>>();
            // Initialize Chart.js once data is loaded
            await LoadChartAsync();

            await UpdateKpiCardsAsync();
        }
    }


    private void OpenFilterPanel()
    {
        // change the showFilters value
        ShowFilters = !ShowFilters;

    }

    private async void FilterData()
    {




        Console.WriteLine($"TEST00001   {SelectedScheme}");



        // Filter the Sales list in-place to include only "HAPPY" scheme
        FilteredData = messages
            .Select(innerList => innerList
                .Where(sale => !String.IsNullOrEmpty(SelectedScheme) ? sale.Scheme == SelectedScheme : true)
                .ToList())
            .Where(innerList => innerList.Any()) 
            .ToList();


        SalesLinesQuery = FilteredData.LastOrDefault().AsQueryable();



        await grid.RefreshDataAsync();
        await _jsRuntime.InvokeVoidAsync("resetChart", "salesChart");
        await LoadChartAsync();
        await UpdateKpiCardsAsync();


        // await InvokeAsync(StateHasChanged);
    }


    


    private async Task JSPrint(object obj)
    {
        await _jsRuntime.InvokeVoidAsync("printObject", obj);
    }


    private void HandleStoreFilter(ChangeEventArgs args)
    {
        if (args.Value is string value)
        {
            SalesLinesQuery = FilteredData.First().Where(s => s.StoreCode.Contains(value)).AsQueryable();
        }
    }

    private void HandleClear()
    {
        if (string.IsNullOrWhiteSpace(SelectedStore))
        {
            SelectedStore = string.Empty;
        }
    }


    private async Task LoadChartAsync()
    {
        var labels = FilteredData.Select(d => d.First().DateTime?.ToString("HH:mm:ss")).ToArray(); //yyyy-MM-dd HH:mm
        var values = FilteredData.Select(d => d.First().NetAmountAcy).ToArray();

        var chartConfig = new
        {
            type = "line",
            data = new
            {
                labels,
                datasets = new[]
                {
                    new
                    {
                        label = "Net Amount (ACY)",
                        data = values,
                        fill = true,
                        borderColor = "#059669",
                        backgroundColor = "#ECFDF5",
                        tension = 0.4,
                        pointRadius = 4,
                        pointBackgroundColor = "#059669",
                        pointBorderColor = "#fff",
                        pointBorderWidth = 2
                    }
                }
            },
            options = new
            {
                responsive = true,
                plugins = new
                {
                    legend = new
                    {
                        position = "top"
                    }
                }
            }
        };

        // Pass chartConfig to JavaScript to render the chart
        await _jsRuntime.InvokeVoidAsync("renderChart", "salesChart", chartConfig);


        await UpdateKpiCardsAsync();

    }

    private async Task UpdateChartAsync()
    {
        var labels = FilteredData.Select(d => d.First().DateTime?.ToString("HH:mm:ss")).ToArray(); // Adjust as necessary
        var values = FilteredData.Select(d => d.Sum(x => x.NetAmountAcy)).ToArray();

        await _jsRuntime.InvokeVoidAsync("updateChart", "salesChart", labels, values);


        await UpdateKpiCardsAsync();
    }


    private async Task UpdateKpiCardsAsync()
    {

        TotalAmount = FilteredData.Select(d => d.Sum(x => x.NetAmountAcy)).LastOrDefault();
        TotalTransactions = FilteredData.Select(d => d.Sum(x => x.TotalTransactions)).LastOrDefault();
        AverageBasket = TotalTransactions > 0 && TotalAmount > 0 ? TotalAmount / TotalTransactions : 0;
        LastUpdated = FilteredData.Select(d => d.First().DateTime).LastOrDefault();


        if (KpiCardRef != null)
        {
            await KpiCardRef.UpdateKpiAsync(TotalAmount.ToString("$ ##,##"), LastUpdated.Value.ToString("yyyy-MM-dd hh:mm:ss"));
        }

        if (KpiTotalTransactionsRef != null)
        {
            await KpiTotalTransactionsRef.UpdateKpiAsync(TotalTransactions.ToString("##,##"), LastUpdated.Value.ToString("yyyy-MM-dd hh:mm:ss"));
        }

        if (KpiAverageBasketRef != null)
        {
            await KpiAverageBasketRef.UpdateKpiAsync(AverageBasket.ToString("$ ##,##"), LastUpdated.Value.ToString("yyyy-MM-dd hh:mm:ss"));
        }
    }



}


